.idea/
__pycache__/
venv/
models/cnn8/model_best.pt
models/cnn8/model_last.pt
models/cnn_fc/model_best_b50.pt
models/cnn_fc/model_best_lr2e-5.pt
models/cnn_fc/model_last_b50.pt
models/cnn_fc/model_last_lr8e-6.pt
models/cnn_fc/model_last_test.pt
models/cnn_fc64/model_best_b50.pt
models/cnn_fc64/model_best_b50_2.pt
models/cnn_fc64/model_last_b16.pt
models/cnn_fc64/model_last_b50.pt
models/cnn_fc64/model_last_b50_2.pt
models/cnn_fc64/pred_test_b16.txt
models/cnn_fc64/model_best_b16.pt
models/unet44/model_best.pt
models/cnn_fc64/pred_test_b50_2.txt
models/unet44/model_last.pt
models/cnn_fc/model_last_lr2e-5.pt
models/cnn_fc/model_best_test.pt
models/unet44_noglob/model_best.pt
models/unet44_noglob/model_last.pt
models/unet44/pred_test.txt
models/cnn_fc/model_best_lr8e-6.pt
models/unet44_noglob/pred_test.txt
